:root {
    --primary-color: #5EAAA8;
    --second-color: #eb8a0b;
    --third-color: #A3D2CA;
    --fourth-color: #F8F1F1;
    --no-black: #222831;



}

html {
    font-size: 14px;
    color: var(--no-black);
}

p, li {
    font-size: 1.2rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    background-color: unset;
    font-size: unset;
    border: unset;
    cursor: pointer;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(230px, 1fr) minmax(715px ,5fr);
    grid-template-rows: 1fr 4fr 4fr;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    grid-column: 2 / -1;
    background-color: var(--primary-color);
    padding: 8px 0 24px 32px;
    box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(0, 0, 0, 0);
    margin-bottom: 12px;
    color: white;
    
}

.header-top {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 60%;
}

.search input {
    padding: 4px 6px;
    width: 85%;
    font-size: 1rem;
    outline: none;
    border: none;
    line-height: 1.4rem;
    border-radius: 24px;
    background-color: var(--fourth-color);
}
.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.profile p {
    font-weight: bold;
}


.header-top .profile img {
    width: 38px;
    border-radius: 50%;
}
.header-bottom {
    display: flex;
    flex-direction: row;
}


.header-bottom .greeting {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    width: 50%;
    gap: 14px;
}

.header-bottom .greeting img {
    width: 78px;
    border-radius: 50%;
}

.header-bottom .greeting div * {
    margin: 12px auto;
}

.header-bottom .panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 32px;
    width: 50%;
}

.panel li {
    width: max(30%, 88px);
}

.panel button {
    text-align: center;
    font-weight: bold;
    padding: 12px 0;
    border-radius: 32px;
    width: 90%;
    background-color: var(--second-color);
}


aside {
    grid-column: 1 / 2;
    grid-row: 1/4;

    background-color: var(--third-color);
    font-weight: bold;
}

aside > h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

aside > h1 svg {
    width: 60px;
}

.sidebar .nav {
    padding: 24px 0 24px 32px;
}

.sidebar .nav .list-item button {
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 12px;
}

.sidebar .nav .list-item button svg{
    width: 32px;
}

main {
    grid-column: 2;
    padding: 0 18px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 14px;
    background-color: var(--fourth-color);
}

main h3 {
    font-size: 1.6rem;
}

.projects {
    grid-column: 1;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    gap: 14px;
}

.projects > h3 {
    grid-column: 1 / -1;
}

.projects .card {
    border-left: 10px solid var(--primary-color);
    border-radius: 10px;
    padding: 8px;
    background-color: white;
    box-shadow: 0px 2px 4px var(--no-black);

}

.projects .card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.projects .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 26px;
}
.projects .card-footer a {
    text-decoration: none;
    color: black;

}


.trends {
    grid-column: 2;
    grid-row: 1;
}

.inner-trends {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0px 2px 4px var(--no-black);
}

.inner-trends .trends-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.inner-trends .trends-item img {
    width: 48px;
    border-radius: 50%;
}

.trends-item .trend-caption h4, p {
    margin: 8px 0;
}

.announcements {
    grid-column: 2;
    grid-row: 2;
}

.svg-info {
    width: 30px;
}

footer {
    grid-column: 1 / -1;
    grid-row: 4;
}